<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title class="principal">
      Poke Api
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <ion-grid class="">
 
    <ion-row>
      <ion-col>

        <ion-item-divider>
          <ion-label class="label">
            Data Sheet
          </ion-label>
        </ion-item-divider>
       
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col>

        <ion-button color="warning" (click)="show()">Descubre un Pokemon</ion-button>
       
      </ion-col>
    </ion-row>
  


  <ion-row class="poke">
    <ion-col>

   
      <ion-list *ngIf="data">
        <ion-item>
          <ion-label><span class="name">{{pokeData.name}} </span></ion-label> 
        </ion-item>
        <ion-item>
          <ion-label>Tipo de Pokemon<span class="text-right">{{pokeData.types[0].type.name}}</span></ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Peso<span class="text-right">{{pokeData.weight}}</span></ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Estatura<span class="text-right">{{pokeData.height}}</span></ion-label>
        </ion-item>
        <ion-item>
          <ion-label>imagen</ion-label>  
          <ion-img src="{{pokeData.sprites.front_default}}"></ion-img>
        </ion-item>
      </ion-list>
      
     
    
      <!-- Basic -->
    


    </ion-col>
  
  </ion-row>
 
  


</ion-grid>


 


</ion-content>
