

ion-title.principal {
  color:#F2D81E;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.name{
  color:#CF653E;
  font-weight: bold;
  font-size: 20px !important;
}

.text-right{
  margin-left:5px !important;
  color: #3eadcf;
}

.poke{
  margin-top:20px !important;
  padding-top: 20px !important;

}
.second{
  margin-bottom:25px !important;

}









ion-label.label{
  color: black !important;
  font-weight: bold !important;
  font-size: 16px !important;
}

